# Rust artifacts
Cargo.lock
target/

# Node artifacts
build/
prebuilds/
node_modules/
*.tgz

# Swift artifacts
.build/
Package.swift

# Go artifacts
go.sum
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

pyproject.toml

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

*.exp
*.lib


# Updated to 22, looks like these also need to be ignored
src/tree_sitter/
setup.py
*.pdb

# unecessary bindings
bindings/c/
bindings/go/
bindings/python/
bindings/swift/

